
  .file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .file > input[type='file'] {
    display: none
  }
  
  .file > label {
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 29%);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .file > label:hover {
    border-color: hsl(0, 0%, 21%);
  }
  
  .file > label:active {
    background-color: hsl(0, 0%, 96%);
  }
  
  .file > label > i {
    padding-right: 5px;
  }
  
  
  
  .file--success > label {
    /* color: hsl(141, 71%, 48%);
    border-color: hsl(141, 71%, 48%); */

    color:#187a56;
    border-color: #187a56;
  }
  
  .file--success > label:hover {
    border-color: #187a56;
    background-color: transparent;
  }
  
 
  
  